.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

button {
  padding: 1rem;
  background-color: darkcyan;
  color: white;
  border-radius: 0.5rem;
  border: none;
}
